#navigator{
  display:;
  width: 100vw;
  position:fixed;
  top:0px;
  left:0px;
  background:#ddd;
}

#navigator ul{
  margin:0;
  padding: 0;
  display: flex;

}
#navigator ul li {
  list-style: none;
  padding:  10px 20px;
}
#navigator ul li a{
  font-family: 'Fredoka One', cursive;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2em;
  color:#262626;
  position: relative;
}
#navigator ul li a:before{
  content: '';
  width: 0;
  height: 5px;
  background: rgba(200,100,100,1);
  position:absolute;
  top:100%;
  left:0;
  transition: 0.5s;
}

#navigator ul li:hover a:before{
  width:50%;
  transform: translateX(100%);
}
