#navigator{
  display: block;
  background-color: gray;
}
ul{
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
}
li{
  display: inline;
  float:left;
}
#navigator a{
  text-decoration: none;
  display: block;
  padding: 8px;
  font-size: 1.2em;
  font-family: 'Fredoka One', cursive;
  color:white;
}
#navigator a:hover{
  background-color: rgba(0,123,1,0.5);
}
