.projects{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows:minmax(100px,auto);
  justify-content: center;
  align-items: center;
  background: rgba(100,100,0,0.5);
  grid-gap:1em;
}
.projects > h1{
  background: #ddd;
  grid-column: 1/4;
  justify-self:center;
}
.projects-items{
  grid-column: 1/4;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap:1em;
  background: rgba(100,100,100,0.3);

}

.projects .item{
  background-color: rgba(200,0,200,0.2);
}
